
h2{
	font-size:16pt; font-family:Cambria; position:absolute; left:22%;
	color:indigo;
	}


body{
 margin-left:0%; font-size:12pt; font-family:Cambria; background-color:silver;
 color:indigo;
 }
 
 img.jumbo{
	float:left; margin:10px; border:solid 3px; position:inside; border-color:brown;
	
}
