h1{
	font-size:18pt; 
	font-family: Cambria;
}

body{
	font-family: Cambria;
	/*margin-left: 5%;*/
	font-size: 12pt;
}

div{
	margin-left: 5%;
}

.university,.title{
	font-weight:bold;
}

.sectionhead{
	font-size:12pt;
	font-style:italic;
	margin-left:0;
}	
	
ul{
	margin:0%; 
}
	
